.Footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

.button__container {
  display: inline-block;
  margin: 10px;
}

.footer__game,
.footer__rules {
  display: flex;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid white;
  justify-content: center;
}

.footer__rules,
.footer__game:hover {
  cursor: pointer;
}

.footer__rules p,
.footer__game p {
  align-self: center;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .Footer {
    justify-content: space-between;
  }
}
