.Footer {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
}

.footer__game,
.footer__rules {
  margin: 40px auto 10px auto;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
}

.footer__rules:hover,
.footer__game:hover {
  cursor: pointer;
  background: linear-gradient(rgb(243, 243, 243), rgb(255, 255, 255));
}
.footer__rules:hover,
.footer__game:hover {
  color: rgb(59, 66, 98);
}

.footer__rules,
.footer__game {
  align-self: center;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@media screen and (min-width: 760px) {
  .Footer {
    justify-content: space-between;
  }
  .footer__game {
    float: left;
    margin: 10px;
  }
  .footer__rules {
    float: right;
    margin: 10px;
  }
}
