.Footer {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
}

.footer__game,
.footer__rules {
  margin: 40px auto 10px auto;
  display: flex;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid white;
  justify-content: center;
}

.footer__rules,
.footer__game:hover {
  cursor: pointer;
}

.footer__rules p,
.footer__game p {
  align-self: center;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .Footer {
    justify-content: space-between;
  }
  .footer__game {
    float: left;
    margin: 10px;
  }
  .footer__rules {
    float: right;
    margin: 10px;
  }
}
