.selector {
  width: 340px;
  height: 318px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 23px;
  justify-items: center;
}

.selector p {
  font-size: 15px;
  letter-spacing: 1.88px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  align-self: center;
  text-align: center;
  width: max-content;
  margin: auto;
}
.selector h1 {
  font-size: 56px;
  letter-spacing: 1.88px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  align-self: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.default-piece {
  display: block;
  content: "";
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

.results {
  display: block;
  position: relative;
  text-transform: uppercase;
}

.finalResults {
  grid-column: span 2;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.selector-encounter div {
  grid-area: chip;
}
.selector-encounter p {
  grid-area: title;
}

.selector-encounter {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "chip" "title";
}

@media screen and (min-width: 760px) {
  .selector {
    transform: scale(1.52);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0;
    grid-template-areas: "player result house";
    text-align: center;
    justify-content: center;
    width: auto;
  }

  .selector > div:nth-of-type(1) {
    grid-area: player;
  }
  .selector > div:nth-of-type(2) {
    grid-area: house;
  }
  .selector > div:nth-of-type(3) {
    grid-area: result;
  }

  .selector-encounter {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "title" "chip";
  }

  .finalResults {
    transform: scale(0.7);
  }
  .default-piece {
    grid-area: house;
    margin-top: 30px;
  }
}
